@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2ECD2, #F6EABE);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c7ad87b9; /*lateral, pra baixo, espalhamento*/
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F29545;
    text-align: center;
    text-shadow: 1px 1px 2px #b67236c4;
}

h2 {
    color: #D96069;

}
p {
    text-align: justify;
}