@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: red;
    background-color: seashell;
}
h2 {
    color: blue;
}
p {
    color: blue;
}